.dropdow {
  position: absolute;
  top: 2px;
  left: 3px;
  z-index: 2;
}

.post-head {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.custom-button,
.custom-view-button {
  width: 100%;
  height: 40px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 4px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.custom-button:hover,
.custom-view-button:hover {
  background-color: #0056b3;
}

.custom-view-button {
  background-color: #28a745;
}

.custom-view-button:hover {
  background-color: #218838;
}

@media only screen and (max-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px; /* Adjust the gap according to your preference */
  }

  .btn-media {
    width: 40vw;
    margin-left: 20px;
  }

  .toggle-media {
    width: 50px;
    margin-left: 5px;
  }

  .btn-details-mdeia {
    width: 50%;
    margin-left: 65px;
  }

  .lakeer {
    width: 190px;
    position: absolute;
    left: 152px;
  }
}
