.main-container {
  height: 100vh;
  width: 100vw;
}

.main-content {
  position: absolute;
  left: 50%;
  top: 49%;
  transform: translate(-50%, -50%);
}

.signup {
  position: relative;
  padding: 75px;
  background: rgba(255, 255, 255, 0.992);
  /* background: rgb(206, 229, 239); */
  backdrop-filter: blur(20px);
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 45px;
  /* width: 310px; */
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 620px;
}

.signup h4 {
  /* color: #8f2c24; */
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: -50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form-group {
  margin: 10px;
}

.labels {
  margin: 15px 40px;
  font-size: 1rem;
  font-weight: bold;
}

.inpus {
  width: 11%;
  display: inline-block;
  margin-top: 2%;
}
label {
  width: 180px;
  clear: right;
  text-align: right;
  padding-right: 10px;
}

.male {
  display: inline-block;
  font-weight: 600;
}

.form-class {
  margin-left: -100px;
}

.rember {
  display: inline-block;
}

.forgot {
  display: inline-block;
  margin: 20px;
}

.rember {
  float: left;
  padding: 10px 55px;
  font-weight: 500;
}

.forgot {
  float: right;
  padding-right: 15px;
}

.text-color {
  font-weight: 500;
}

.icon3 {
  margin-left: -22px;
  cursor: pointer;
}

.login-forgot {
  text-decoration: none;
  color: #fff;
}
@media only screen and (max-width: 600px) {
  .main-content {
    width: auto;
    margin-top: 70px;
  }

  .signup {
    width: 100vw;
    height: 700px;
    border-radius: 0;
    margin-top: 0;
  }

  .inputs {
    width: 100vw;
  }

  .form-group {
    margin: 20px;
    display: flex;
    align-items: center;
  }

  .labels {
    margin: 15px 20px;
    font-size: 1rem;
    width: 20vw;
    flex: 0 0 20vw;
  }

  .icon3 {
    margin-left: -30px;
  }

  .text-color {
    width: 61vw;
  }

  .btn {
    margin-left: -35px;
    width: 80vw;
  }
}
