.filters {
  height: 55px;
}
.main {
  display: flex;
  justify-content: space-between;
  margin: 50px 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px; /* Adjust the gap according to your preference */
}

.btnSee {
  margin-left: 80px;
}

.image{
  height: 150px;
}

.card{
  max-width: 100%;
}

.card:hover{
  background: rgba(255, 255, 255, 0.685);
  backdrop-filter: blur(10px);
}
