ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.image-input {
  width: calc(100% - 100px);
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.span-agree {
  color: black;
  font-size: 18px;
}
hr {
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color:black;
  border-width: 5px;
  width: 10%;
}
