body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }

  .profile-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .profile-header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
  }

  .profile-picture {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .profile-content {
    padding: 20px;
  }

  .user-details {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .description {
    line-height: 1.5;
  }

  .gender {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.label-gender{
width: 100px;
}

.btn-profile{
  margin-left: 40%;
}


.alert-container{
  position: absolute;
  left: 50%;
  bottom: 62%;
  
}

