.main-container {
  height: 100vh;
  width: 100vw;
}

.main-content {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.signup {
  position: relative;
  padding: 60px;
  background: rgba(255, 255, 255, 0.992);
  backdrop-filter: blur(20px);
  border: 1px solid #fff;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  width: 600px;
}

.signup h4 {
  color: #8f2c24;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: -50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form-group {
  margin: 10px;
}

.labels {
  margin: 15px 40px;
  font-size: 1rem;
  font-weight: bold;
}

.male-label {
  margin-left: 20px;
}

.inputs {
  width: 50%;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid black;
}

.inpus {
  width: 2%;
  display: inline-block;
}
label {
  width: 180px;
  clear: right;
  text-align: right;
  padding-right: 10px;
}

.radio-group {
  position: absolute;
  left: 105px;
  bottom: 140px;
}

/* .female-radio{
    margin-left: -70px;
} */

.male {
  display: inline-block;
  font-weight: 600;
}

.form-class {
  margin-left: -100px;
}
