.main-container {
  height: 100vh;
  width: 100vw;
}
.gradient-custom {
  /* fallback for old browsers */
  background: #f093fb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to bottom right,
    rgba(240, 147, 251, 1),
    rgba(245, 87, 108, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to bottom right,
    rgba(240, 147, 251, 1),
    rgba(245, 87, 108, 1)
  );
}

.main-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.signup {
  position: relative;
  padding: 60px;
  background: rgba(255, 255, 255, 0.992);
  backdrop-filter: blur(20px);
  border: 1px solid #fff;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  width: 600px;
}

.signup h4 {
  color: #8f2c24;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: -50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.form-group {
  margin: 10px;
}

.labels-one {
  margin: 15px 40px;
  font-size: 1rem;
  font-weight: bold;
}

.male-label {
  margin-left: 20px;
}

.inputs {
  width: 50%;
  /* border-radius: 5px; */
  /* border: none; */
  /* border-bottom: 1px solid black; */
}

.inpus {
  width: 2%;
  display: inline-block;
}
label {
  width: 180px;
  clear: right;
  text-align: right;
  padding-right: 10px;
}

.labels-one {
  margin-left: 35px;
  margin-top: 0px;
}

.select-one {
  margin-top: 20px;
}

.radio-group {
  position: absolute;
  left: 105px;
  bottom: 205px;
  display: flex;
  align-items: center;
}

.male {
  display: inline-block;
  font-weight: 600;
}

.form-class {
  margin-left: -100px;
}

.signup-btn {
  margin-top: -25px;
}

.radio-group {
  margin-top: 10px;
}

.radio-group label {
  margin-right: 10px; /* Adjust margin as needed */
}

@media only screen and (max-width: 600px) {
  .radio-group {
    position: absolute;
    top: 527px;
    left: 0;
  }
  .labels-one {
    margin-left: -84px;
    margin-top: 0px;
  }

  .radio-group label {
    margin-right: 0;
    margin-bottom: 5px;
  }
  .female {
    width: 25vw;
  }
}
