* {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 750px;
  height: 100vh;
  max-height: 800px;
  background-color: #fff;
}

.popup-inner .close-btn {
  position: fixed;
  bottom: 16px;
  right: 16px;
  /* margin-left: 77%; */
}

.popup-inner .close-btn-2 {
  position: absolute;
  bottom: -247%;
  right: 16px;
}

#fullWidth {
  font-size: larger;
  width: 100%;
}

#fullWidth-label {
  clear: left;
  text-align: left;
  font-size: larger;
}

#demo-simple-select-label {
  clear: left;
  text-align: left;
  width: 50%;
  font-weight: bold;
}

.MuiInputBase-root {
  width: 80%;
}

.one {
  width: 40%;
  display: inline-block;
}

.two {
  width: 40%;
  display: inline-block;
}

.span-p {
  color: gray;
}

.MuiFormLabel-root {
  clear: left;
  text-align: left;
}

.datePicker {
  width: 80%;
}

.Utilities {
  display: inline-block;
}

.Amenities {
  display: inline-block;
}

.MuiTypography-root {
  clear: left;
  text-align: left;
}
.date-range-picker {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.input-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 8px;
}

.head-contact {
  display: flex;
}

.head-input {
  width: 50%;
}

.time-slots {
  margin-bottom: 20px;
}

.time-slot-container {
  margin-bottom: 20px;
}

.time-slot {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.time-slot-fields {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.field {
  flex: 1;
  margin-right: 10px;
}

.time-slot-field {
  width: 100%;
}

.time-slot-button {
  width: 200px;
  margin: auto;
}
.time-slot-fields label {
  text-align: left;
}

@media (max-width: 600px) {
  .time-slot {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
  }

  .time-slot-fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .field {
    flex: 0 0 48%;
    margin-bottom: 10px;
  }

  .time-slot-button {
    width: 100%;
  }

  .upload-btn-media {
    max-width: 90px;
    height: 50px;
    top: 600px;
    font-size: 20px;
    font-weight: 500;
  }
  .popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 350px;
    height: 100vh;
    max-height: 900px;
    background-color: #fff;
  }
}
